@using ASSIGNMENT3.Models
@model ForgetPassword
@{
    Layout = "~/Views/Shared/_LoginSignupLayout.cshtml";
    ViewData["Title"] = "Forget Password";
}


<form method="post" action="/BlogLand/ForgetPassword">
    <br /><br />
          <div class="container p-5" style="width:40%">
              <div class="align-items-center">
                  <label class="form-label" asp-for="Username"></label><br>
                  <input class="form-control" asp-for="Username">
                  <span asp-validation-for="Username"></span>
              </div>
              <div class="align-items-center">
                  <label class="form-label" asp-for="Email"></label><br>
                  <input class="form-control" asp-for="Email">
                  <span asp-validation-for="Email"></span>
              </div>
              <br />
              <div>
                  <input class="btn btn-danger pt-1" type="submit" value="Recover Password" />
              </div>
          </div>
</form>