@{
    Layout = "~/Views/Shared/_LoginSignupLayout.cshtml";
    ViewData["Title"] = "Password Recovered";
}

<br />
<br />
<div class="container p-5" style="width:40%">
    <div>
        <label class="form-label">Your Password is</label><br>
        <input class="form-control" value="@Model" readonly>
    </div>
    <br />
    <div>
        <a class="btn btn-danger pt-1" asp-action="Login">Login</a>
    </div>
</div>
