@{
    Layout = "~/Views/Shared/_LoginSignupLayout.cshtml";
    ViewData["Title"] = "Password No Recovered";
}

<br />
<br />
<div class="container p-5  text-center">
    <div>
        <label class="form-label">Sorry, Username and Email does not match to any of the User</label><br>
    </div>
    <br />
    <div class="text-center">
        <a asp-action="ForgetPassword">TryAgain?</a>
        <a asp-action="Signup" class="btn btn-danger pt-1">Sign up</a>
    </div>
</div>
