@using ASSIGNMENT3.Models
@model Post
@{
    ViewData["Title"] = "Post Details";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">

    <div class="container p-5 mt-5 bg-danger text-light" style="border-radius: 20px; width: 60%;">
        <div>
            <h4>@Model.Username</h4>
        </div>
        <hr />
        <div>
            <h2>@Model.Title</h2>
            <h6 class="align-content-xl-end">Date and Time</h6>
        </div>
        <div style="border:2px solid white; border-radius: 10px; padding:10px">
            <p>
                @Model.Content
            </p>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />

